body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

div.city {
    border: 1px solid black;
    border-radius: 1em;
    background-color: #dee3e7;
    padding: 1em; 
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 1em;
    width: 12em;
}

p.cityUpdateInfo {
    padding-top: 1em;
    background-color: white;
    padding-bottom: 1em;
}

nav {
    text-align:center;
    background-color: black;
    margin-bottom: 2em;
    color: white;
    font-weight: bold;
}