@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class = "city">
    <h1>London</h1>
    <p><strong>Time:</strong> 15:30</p>
</div>

<div class = "city">
    <h1>Paris</h1>
    <p><strong>Time:</strong> 16:30</p>
</div>
